html, body
{
 margin: 0;
 padding: 0; 
 border: 0;
 color: #333;
}

htmk{
	-webkit-text-size-adjust: 100%;
}

body 
{
 font-family: sans-serif;
 background: #EEE;
 color: #000;
}

h1{
	text-align: center;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal; 
}


img{
	margin: 0 auto;
	text-align: center;
	max-width: 90%;
}

label{
	display: inline-block;
	text-align: right;
}

fieldset{
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

fieldset#main{
	border: none;
	padding: 0;
}

fieldset#main label{
	display: none;
}

fieldset#additional{
	border: none;
}

legend{
	text-align: center;
}

input{
	margin-top: 1em;
	width: 90%;
	padding: .5em;
	border: 2px solid #999;
	border-radius: .5em;
	background-color: transparent;
	font-size: 100%;
}

::-webkit-input-placeholder {
	color: #333;
	text-transform: uppercase;
}

button{
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	margin: 2em 0 2em 0;
	padding: .5em 0 .5em 0;
	background-color: transparent;
	border-radius: .5em;
	border: 2px solid #090;
	cursor: pointer;
	color: #090;
	font-size: 120%;
}